.bluebox{
  background-color: #1877F2;
  height: 100px;
}
.yellowbox{
  background-color:#DD67EE;
  height: 100px;
}
.greenbox{
  background-color: #C5E0FA;
  height: 100px;
}
.span1{
  background-color:red ;
}